In [1]:
import pandas as pd

In [9]:
wide = pd.read_csv('Data_WideFormat.txt', sep="\t", header=0)
long = pd.read_csv('Data_LongFormat.txt', sep="\t", header=0)
layout = pd.read_csv('Layout.txt', sep="\t", header=0)

In [12]:
wide

            RESPID    WGT  HHWGT    1   2    3    4   5   6   7   8   9  10
0  86014W86SWG5B45   3030   3000  NaN NaN  NaN  NaN NaN NaN NaN NaN NaN NaN
1  86014W86B8JHBNV   4100   1020  NaN NaN  NaN  NaN NaN NaN NaN NaN NaN NaN
2  85001W85YD7611T   2970   1480  NaN NaN  1.0  1.0 NaN NaN NaN NaN NaN NaN
3  85007W855N5TJFP    700    230  1.0 NaN  NaN  NaN NaN NaN NaN NaN NaN NaN
4  85014W85R3JCS9Z   1770    890  1.0 NaN  NaN  NaN NaN NaN NaN NaN NaN NaN
5  85004W85U1122VS   3090   1030  NaN NaN  NaN  NaN NaN NaN NaN NaN NaN NaN
6  86013W86WQ9SPUY   3130   1030  NaN NaN  NaN  NaN NaN NaN NaN NaN NaN NaN
7  86010W86N3U5TRN   5140   1690  NaN NaN  NaN  NaN NaN NaN NaN NaN NaN NaN
8  85002W85DPM54A6   2560   1280  NaN NaN  1.0  NaN NaN NaN NaN NaN NaN NaN
9  85014W85FK22W9Q  10850  10820  NaN NaN  NaN  NaN NaN NaN NaN NaN NaN NaN

In [10]:
long

             RESPID    WGT  HHWGT  Label  KEYWORD  VALUE
0   85001W85V6MJFKC   6750   3370      1  X603931      1
1   85006W85BET1FPE   1020   1020      1  X603931      1
2   85014W85U7PW8SC  16780  16840      1  X603931      1
3   86001W865NW18RA   3410   1690      1  X603931      1
4   86002W86PG7JJVF   2950   1460      1  X603931      1
..              ...    ...    ...    ...      ...    ...
95  86008W8643XJZJ1   1910    480      9  X603936      1
96  86013W869ABT2WA  11890   2950      9  X603936      1
97  86014W861JGQS7W   1910   1900      9  X603936      1
98  86014W867KU3NND    950    940      9  X603936      1
99  86014W86UV81EZG   6090   2010      9  X603936      1

[100 rows x 6 columns]

In [8]:
layout

,Label,RECNO,PRECNO,RECTYPE,RECTAG,PROP_CODE,KEYWORD,MIDPOINT,Description,Concatenated_Description,SAMPLE,WEIGHTED
0,1,4,3,B,a,NaN,X603931,NaN,Adidas,Apparel/Accessories > Athletic Shoes > Brands ...,7545,35392730
1,2,5,3,B,a,NaN,X603926,NaN,Airwalk,Apparel/Accessories > Athletic Shoes > Brands ...,253,1410850
2,3,6,3,B,a,NaN,X603932,NaN,Asics,Apparel/Accessories > Athletic Shoes > Brands ...,2578,12516680
3,4,7,3,B,a,NaN,X603923,NaN,Avia,Apparel/Accessories > Athletic Shoes > Brands ...,445,2518140
4,5,8,3,B,a,NaN,X603922,NaN,Brooks,Apparel/Accessories > Athletic Shoes > Brands ...,2001,10292070
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,119,115,B,a,NaN,X91619149,150.5,$101-$200,Apparel/Accessories > Clothing/Shoes Expenditu...,8319,41647230
96,97,120,115,B,a,NaN,X91618839,250.5,$201-$300,Apparel/Accessories > Clothing/Shoes Expenditu...,4475,22460370
97,98,121,115,B,a,NaN,X91618842,350.5,$301-$400,Apparel/Accessories > Clothing/Shoes Expenditu...,2142,10487780
98,99,122,115,B,a,NaN,X91618833,450.5,$401-$500,Apparel/Accessories > Clothing/Shoes Expenditu...,2596,13050710
99,100,123,115,B,a,NaN,X91618745,550.5,$501-$600,Apparel/Accessories > Clothing/Shoes Expenditu...,694,3706910