In [48]:
import pandas as pd

In [49]:
df = pd.read_csv("csv/second_version.csv")
code = pd.read_csv("csv/code.csv")

In [51]:
df['State Group Codes'].value_counts().keys()

Index(['California', 'Texas', 'New York', 'Illinois', 'Florida',
       'Pennsylvania', 'New Jersey', 'Georgia',
       'North Carolina/South Carolina',
       'Delaware/Maryland/Washington, D.C./West Virginia', 'Massachusetts',
       'Virginia', 'New Mexico/Arizona/Utah/Nevada', 'Ohio',
       'Montana/Idaho/Wyoming/Colorado', 'Arkansas/Louisiana/Oklahoma',
       'Michigan', 'Washington/Oregon', 'Minnesota/Iowa', 'Indiana',
       'Alabama/Mississippi', 'Tennessee', 'Rhode Island/Connecticut',
       'Nebraska/Kansas', 'Wisconsin', 'Missouri',
       'Maine/New Hampshire/Vermont', 'Kentucky', 'North Dakota/South Dakota'],
      dtype='object')

In [52]:
age = {
    '18': 1,
    '19': 1,
    '20': 1,
    '21': 1,
    '22-24': 1,
    '25-29': 2,
    '30-34': 2,
    '35-39': 3,
    '40-44': 3,
    '45-49': 4,
    '50-54': 4,
    '55-59': 5,
    '60-64': 5,
    '65-69': 6,
    '70-74': 6,
    '75+': 6
}

race = {
    'White': 1,
    'Black/African American': 2,
    'American Indian or Alaska Native': 3,
    'Asian': 4,
    'Other': 5,
}

income = {
    '0-4999': 1,
    '5000-9999': 2,
    '10000-14999': 3,
    '15000-19999': 4,
    '20000-24999': 5,
    '25000-29999': 6,
    '30000-34999': 7,
    '35000-39999': 8,
    '40000-44999': 9,
    '45000-49999': 10,
    '50000-59999': 11,
    '60000-74999': 12,
    '75000-99999': 13,
    '100000-149999': 14,
    '150000-199999': 15,
    '200000-249999': 16,
    '250000+': 17
}

bases = {
    'Men': 1,
    'Women': 2
}

degree = {
    '12th grade or less': 1,
    'Graduated high school or equivalent': 2,
    'Some college, no degree': 3,
    'Associate degree': 4,
    'Bachelor\'s degree': 5,
    'Post-graduate degree': 6,
    'Some college, no degree': 7
}

state = {
    'California':1,
    'Texas':2, 
    'New York':3, 
    'Illinois':4,
    'Florida':5,
    'Pennsylvania':6, 
    'New Jersey':7, 
    'Georgia':8,
    'North Carolina/South Carolina':9,
    'Delaware/Maryland/Washington, D.C./West Virginia':10,
    'Massachusetts':11,
    'Virginia':12, 
    'New Mexico/Arizona/Utah/Nevada':13, 
    'Ohio':14,
    'Montana/Idaho/Wyoming/Colorado':15, 
    'Arkansas/Louisiana/Oklahoma':16,
    'Michigan':17, 
    'Washington/Oregon':18, 
    'Minnesota/Iowa':19, 
    'Indiana':20,
    'Alabama/Mississippi':21, 
    'Tennessee':22, 
    'Rhode Island/Connecticut':23,
    'Nebraska/Kansas':24, 
    'Wisconsin':25, 
    'Missouri':26,
    'Maine/New Hampshire/Vermont':27, 
    'Kentucky':28, 
    'North Dakota/South Dakota':29
}

In [56]:
subdf = df[['Resp', 'Respondent - Age', 'Race', 'Bases', 'Respondent - Highest Degree Received', \
              'Income - IEI', 'State Group Codes']]

subdf = subdf.replace({"Respondent - Age": age, "Race": race, "Bases": bases, "Income - IEI": income, \
                          "Respondent - Highest Degree Received": degree, 'State Group Codes': state})

In [58]:
subdf.to_csv('numeric_values.csv', index=False)